node_modules/
.next/
.turbo/
out/
dist/
coverage/
.vercel/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.env
.env.*
!.env.example
*.pem
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
next-env.d.ts
.DS_Store
